# AWS credentials and configuration
AWS_REGION=<YOUR_AWS_REGION>
AWS_ACCESS_KEY=<YOUR_AWS_ACCESS_KEY>
AWS_SECRET_KEY=<YOUR_AWS_SECRET_KEY>
AWS_MODEL_ID=<YOUR_BEDROCK_MODEL_ID>

# Infobip Message MCP
INFOBIP_API_KEY=<YOUR_INFOBIP_API_KEY>
INFOBIP_MESSAGE_DEFAULT_SENDER=<YOUR_INFOBIP_SENDER>
